$num-per-row: 6;
$gap: 8px;

.speaker-card .speakers-carousel .speaker-card-inner {
  margin: 0;
  gap: $gap;

  .slick-slide-speaker {
    margin: 0;
    padding: 0;
    width: calc((100% - ($num-per-row - 1) * $gap) / $num-per-row);
    min-width: auto;
    max-width: none;

    .speaker-slide {
      padding: 0;

      /* stylelint-disable-next-line selector-class-pattern */
      .ae-image-label.large .imageType_avatar img {
        width: 100%;
        border-radius: unset;
      }
    }
  }
}
